
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@theme {
        --color-primary: #f5f8ff;
      }

@layer utilities {
    .font-inter {
        font-family: "Inter", sans-serif;
    }
    .font-noto-serif {
        font-family: "Noto Serif", serif;
    }
}
.text-left{
    padding-left: 1rem;
    
}

.header{
    margin: 20px auto;
}
.hero{
    margin: 20px auto;
}
.banner-image{
    margin: 20px auto;
}
.plants-section{
    margin: 20px auto;
}

/* Global styles */


/* card Section */
.card-button{
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.card-header-text{
    margin-bottom: 30px;
    margin-top: 20px;
}

@media screen and (max-width: 640px) {
    .card-container{
        margin: 10px 20px;
    }
    
}
