@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@theme {
    --color-primary: #f5f8ff;
}

@layer utilities {
    .font-inter {
        font-family: "Inter", sans-serif;
    }

    .font-noto-serif {
        font-family: "Noto Serif", serif;
    }
}

.text-left {
    padding-left: 1rem;

}
/* .navbar{
    padding: 0 20px;
} */
.header {
    margin: 20px auto;
    
}

.hero {
    margin: 20px auto;
}

.banner-image {
    margin: 20px auto;
}

.plants-section {
    margin: 20px auto 80px auto;
}

/* Global styles */


/* card Section */
.card-button {
    padding-top: 10px;
    padding-bottom: 10px;

}

.card-header-text {
    margin-bottom: 30px;
    margin-top: 20px;
}



.section {
    display: flex;
    flex-direction: row;
    position: relative;

    padding: 20px;
    border-radius: 8px;
    max-width: 1140px;
    margin: auto;

    overflow: visible;
    gap: 20px;
}

.badge {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    /* increased size */
    height: 120px;
    z-index: 2;
}

.left {
    flex: 1;
}

.left img {
    width: 100%;
    border-radius: 8px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.right ul {
    list-style: disc;
    padding-left: 20px;
    color: #555;
    line-height: 1.6;
}

/* deals section styles */
.deals-section{
    margin: 40px auto;
}
.deals-header{
    padding: 20px;
}
.deals-header h1{
    margin-bottom: 15px;
}
.deal {
    max-width: 1140px;
    margin: 50px auto;
}

.deal-right {
    width: 33%;
    
}

.card1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/deal-bloom.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 14px;
    text-align: center;
    overflow: hidden;


}

.card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/deal-ana.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 14px;
    text-align: center;
    overflow: hidden;


}

.deals-left {
    width: 66%;

}

.card3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/deal-zabo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    text-align: center;
    height: 420px;
    color: white;
    overflow: hidden;


}
/* join section styles */
 .join-section{
    background-image: url('../assets/news-letter-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    
 }
 .join-section-content h1{
   margin-bottom: 30px;
   text-align: center;
 }
 .brand-footer {
    padding-left: 20px;
 }
 .twitter{
    padding-top: 8px;
    height: 30px;
 }

 .email-box{
    /* width: 450px;
    height: 40px; */
    border: none;
    
     overflow: hidden;
     max-width: 600px;
  width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
   
 }
 .email-box input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    flex: 1;
    background-color: white;
   
 }
 .email-box input::placeholder{
   padding-left: 20px;
   
 }
 .email-box button{
    padding: 0 12px 0 12px;
   
 }
 .footer-section{
    margin: 20px auto;
 }
 .brand-footer p{
    padding: 20px 0;
 }

 .footer-nav ul li {
    line-height: 60px;
 }


@media screen and (max-width: 640px) {
    .header{
        padding: 0 20px;
    }
    .card-container {
        margin: 10px 15px;
    }

    .plant-lover-description {
        margin-left: 30px;
    }

    .section {
        flex-direction: column;
        text-align: right;
        /* right align text */
    }

    .badge {
        display: none;
    }

    .right {
        padding-top: 20px;
        text-align: left;
    }

    .right ul {
        text-align: left;
        margin: 0 auto;
        max-width: 90%;
    }

    .deal-right {
        width: 90%;
        margin: auto;
        
    }
    .deals-left {
        width: 90%;
        padding-top: 20px;
        margin: auto;
       
    }
    .card3{
        height: 200px;
        
    }
    .email-box input{
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    flex: 1;
   
 }

 .footer-section{
    padding-left: 20px;

}
.brand-footer{
    padding: 10px 0;
 }

}